/* tweak these settings to change the size and theme */
*{
	--dim:150px;
	--sc-width:50%;
	--tot-height:calc(var(--dim) * 0.1);
	--half-height:calc(var(--tot-height) / 2);
	--light:#fff;
	--light-dimmed:#eee;
	--dark:#000;
	--dark-dimmed:#222;
	--active:var(--dark);
	--active-dimmed:var(--dark-dimmed);
	--active-inverse-dimmed:var(--light-dimmed);
	--active-inverse:var(--light);
}
body{
	background:var(--active-inverse);
}
.burger{
	width:var(--dim);
	height:var(--dim);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:var(--active-dimmed);
	border-radius:50%;
	border:2px solid var(--active-dimmed);
	transition:0.3s;
	cursor:pointer;
}
.bar{
	height:var(--tot-height);
	border-radius:var(--half-height);
	background:var(--active-inverse);
	position:absolute;
	margin-left:27.5%;
	transition:0.3s;
}
.bar-1{
	width:50%;
	top:calc(30% - var(--half-height));
}
.bar-2{
	width:35%;
	top:calc(50% - var(--half-height));
}
.bar-3{
	width:20%;
	top:calc(70% - var(--half-height));
}
.burger.active{
	background:var(--active-inverse);
	border:2px solid var(--active);
}
.active .bar-3,.active .bar-1{
	width:var(--sc-width);
	margin-left:calc(50% - (0.225 * var(--sc-width)));
	background:rgb(250,36,36);
}
.active .bar-2{
	background:transparent;
	width:10%;
	margin-left:45%;
}
.active .bar-3{
	transform:translate(-27.5%,-200%) rotate(-45deg);
}
.active .bar-1{
	transform:translate(-27.5%,200%) rotate(45deg);
}